* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
  padding: 20px;
}

header {
  width: 95%;
  margin: auto;
}

ul {
  list-style: none;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

.img-logo {
  max-width: 500px;
  max-height: auto;
}

.navigation {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  width: 500px;
  justify-content: center;
}

.navigation a {
  display: block;
  padding: 0.5em;
  color: rgb(78, 78, 78);
  text-decoration: none;
  letter-spacing: 0.3rem;
  transition: all 0.2s ease-in-out;
  font-size: 17px;
}

.navigation a:hover {
  transform: scale(1.1);
}
.fab {
  color: rgb(78, 78, 78);
  padding: 13px;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}
.fab:hover {
  transform: scale(1.3);
}
/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }

  .img-logo {
    margin: 0;
    min-width: 20%;
  }

  .navigation {
    width: 100%;
    justify-content: space-around;
  }
}

/* ****** ****** */
@media all and (max-width: 600px) {
  .img-logo {
    margin: 0.25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
  }

  .navigation {
    flex-direction: column;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
  height: 89.5vh;
  align-items: center;
  background-image: radial-gradient(
      circle,
      rgba(247, 245, 246, 0.5) 0%,
      rgba(239, 242, 245, 0.5) 100%
    ),
    url("./img/lorem.jpg");
  background-size: cover;
  background-position: top;
  color: rgb(78, 78, 78);
  margin-bottom: 10em;
}
.introduction {
  text-align: center;
}
.introduction h1 {
  font-size: 45px;
  font-weight: 400;
}
.introduction p {
  font-size: 25px;
  font-weight: 400;
}

.services {
  background-color: rgb(240, 233, 232);
  margin: auto;
  width: 95%;
  height: 100vh;
}
.service-container {
  display: flex;
  justify-content: center;
}
.card-img img {
  align-items: center;
  display: flex;
  justify-content: center;
  /* clip-path: inset(0 27% 0 0); */
  max-height: 35em;
  min-width: 50em;
}
.card {
  padding-top: 15px;

  /* min-height: 150px; */
  background-color: white;
  text-align: center;
  letter-spacing: 0.1rem;
}
